
/* WORLD */



#world {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 10vh;
    text-align: start;
    justify-content: center; /* Center aligns the services section */
    padding: 15vh 5.5%;
    /* position: relative;
    left: +5.5%; */
}

#world .ME {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    /* position: relative;
    left: +5.5%;  */
    padding-left: 5%;
}

#world .Services {
    display: flex;
    flex-wrap: wrap;
    gap: 10vh;

    /* position: relative;
    left: +5.5%;  */
    padding-left: 5%;
}

.containe img {
    width: 8vh;
    padding-bottom: 2vh;
}

.ME h3 {
    font-size: 30px;
    color: grey;
    margin-bottom: 10px;
    font-weight: 600;
}

.ME h1 {
    font-size: 55px;
    color: #555;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;

    
}

.ME hr {
    width: 285px;
    height: 4px;
    background-color: grey;
    border: none;
    margin-bottom: 20px;
}

.ME p {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.8;
    color: grey;
    margin-bottom: 30px;
}

.Services h2 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 1vh;
}

.Services p {
    font-size: 1.3em;
}

/* BTN */
#btn {
    padding: 15px 25px;
    background-color: #fff;
    border: none;
    font-size: 18px;
    position: relative;
    transition: 500ms;

    cursor: pointer;
}

#btn span {
    position: relative;
    transition: 500ms;
    transition-delay: 500ms;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

#btn span a{
    color: black;
    text-decoration: none;
}

#btn:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    transition: 500ms;
    transition-delay: 500ms;
}

#btn div {
    transition: 500ms;
    position: absolute;
    background-color: black;
}

#btn .top {
    width: 25px;
    height: 2px;
    top: 0;
    left: 0;
}

#btn .bottom {
    width: 25px;
    height: 2px;
    bottom: 0;
    right: 0;
}

button .left {
    width: 2px;
    height: 25px;
    top: 0;
    left: 0;
}

#btn .right {
    width: 2px;
    height: 25px;
    bottom: 0;
    right: 0;
}

#btn:hover {
    color: #000;
}

#btn:hover span {
    color: #000;
}

#btn:hover:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#btn:hover .top,
#btn:hover .bottom {
    width: 100%;
}

#btn:hover .left,
#btn:hover .right {
    height: 100%;
}

/* Media Queries for Responsiveness */
/* Tablet (768px and below) */
@media screen and (max-width: 768px) {
    #world {
        padding: 10vh 5%;
        gap: 5vh;
    }


    .ME h1 {
        font-size: 45px;
    }

    .ME p {
        font-size: 16px;
    }

    .Services {
        gap: 5vh;
        flex-direction: row;
        align-items: center;
    }

    .card-1, .card-2, .card-3, .card-4 {
        flex: 1 1 80%;
        max-width: 80%;
    }

    .containe img {
        width: 12vh;
    }
}

/* Mobile (540px and below) */
@media screen and (max-width: 540px) {
    #world {
        padding: 1.25vh 1.25%;
        display: grid;
    }


    .ME h1 {
        font-size: 7.5px;
    }

    .ME p {
        font-size: 15px;
    }

    .Services {
        gap: 0.75vh;
        flex-direction: row;
        align-items: center;
        position: relative;
    }

    .card-1, .card-2, .card-3, .card-4 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .containe img {
        width: 2.5vh;
    }

    button {
        font-size: 4px;
        padding: 3px 5px;
    }
}

/* Mobile (480px and below) */
@media screen and (max-width: 480px) {
    #world {
        padding: 10vh 5%;
    }


    .ME h1 {
        font-size: 30px;
    }

    .ME p {
        font-size: 14px;
    }

    .Services {
        gap: 3vh;
        flex-direction: row;
        align-items: center;
    }

    .card-1, .card-2, .card-3, .card-4 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .containe img {
        width: 10vh;
    }

    button {
        font-size: 16px;
        padding: 12px 20px;
    }
}



/* Mobile (480px and below) */
@media screen and (max-width: 420px) {
    #world {
        padding: 10vh 5%;
    }


    .ME h1 {
        font-size: 30px;
    }

    .ME p {
        font-size: 14px;
    }

    .Services {
        gap: 3vh;
        flex-direction: row;
        align-items: center;
    }

    .card-1, .card-2, .card-3, .card-4 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .containe img {
        width: 10vh;
    }

    button {
        font-size: 16px;
        padding: 12px 20px;
    }
}


/* Mobile (380px and below) */
@media screen and (max-width: 400px) {
    #world {
        padding: 2.5vh 2.5%;
    }


    .ME h1 {
        font-size: 15px;
    }

    .ME p {
        font-size: 7px;
    }

    .Services {
        gap: 1.5vh;
        flex-direction: row;
        align-items: center;
    }

    .card-1, .card-2, .card-3, .card-4 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .containe img {
        width: 5vh;
    }

    button {
        font-size: 8px;
        padding: 6px 10px;
    }
}



/* Mobile (380px and below) */
@media screen and (max-width: 380px) {
    #world {
        width: 100%;
    }

    .ME{
        padding: 50px 0px 30px 0px;
    }

    .ME h1 {
        font-size: 50px;
    }

    .ME p {
        font-size: 17px;
    }

    .Services {
        gap: 1.5vh;
        flex-direction: row;
        align-items: center;
    }


    .card-1, .card-2, .card-3, .card-4 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .containe img {
        width: 10vh;
    }

    button {
        font-size: 8px;
        padding: 6px 10px;
    }
}

/* Mobile (360px and below) */
@media screen and (max-width: 360px) {
    #world {
        padding: 2.5vh 2.5%;
    }


    .ME h1 {
        font-size: 15px;
    }

    .ME p {
        font-size: 7px;
    }

    .Services {
        gap: 1.5vh;
        flex-direction: row;
        align-items: center;
    }

    .card-1, .card-2, .card-3, .card-4 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .containe img {
        width: 5vh;
    }

    button {
        font-size: 8px;
        padding: 6px 10px;
    }
}


  
